.main_div {
  color: aliceblue;
}
.m_p{
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
.render_div {
  font-size: small;
  border: 2px solid gold;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); 
  gap: 16px; 
}
.item_img {
  width: 70px;
}
.color_div {
  display: flex;
}
.color_div p {
  padding-left: 8px;
}

.prices_div {
  display: flex;
}

.Lymhurst {
 
  background-color: #15e831;
  border-radius: 20%;
  color: black;
}
.Bridgewatch {
  
  background-color: #ffee49;
  border-radius: 20%;
  color: black;
}
.Caerleon {
  
  background-color: #cb171d;
  border-radius: 20%;
  color: black;
}
.Fort_Sterling {
  
  background-color: #e2feff;
  border-radius: 20%;
  color: black;
}
.Martlock {
 
  background-color: #2cdbff;
  border-radius: 20%;
  color: black;
}
.Thetford {
 
  background-color: #e815e1;
  border-radius: 20%;
  color: black;
}
