.main_div {
  color: aliceblue;
}
.m_p{
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
.render_div {
  background-color: #171717;
  font-size: small;
 
  display: grid;
  grid-template-columns: repeat(
    
    5,
    1fr
  ); 
  gap: 16px; 
}
@media (max-width: 1200px) {
  .render_div {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .render_div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .render_div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .render_div {
    grid-template-columns: 1fr;
  }
}
.item_img {
  width: 90px;
  height: 90px;

  
}
.color_div {
  display: flex;
}
.color_div p {
  padding-left: 8px;
}
.item_div{
  display: flex;
 align-items: top;
 justify-content: center;
  box-shadow: 0px 0px 31px 17px rgba(0, 0, 0, 0.24);
}
.prices_div {
 
  font-size: 15px;
  flex-direction: column;
}
.item{
  width: fit-content;
}

.Lymhurst {
 
  background-color: #15e831ce;
  border-radius: 20%;
  color: black;
}
.Bridgewatch {
  
  background-color: #ffed49c9;
  border-radius: 20%;
  color: black;
}
.Caerleon {
  
  background-color: #cb171dd0;
  border-radius: 20%;
  color: black;
}
.Fort_Sterling {
  
  background-color: #e2feffbd;
  border-radius: 20%;
  color: black;
}
.Martlock {
 
  background-color: #2cdcffc0;
  border-radius: 20%;
  color: black;
}
.Thetford {
 
  background-color: #e815e1c9;
  border-radius: 20%;
  color: black;
}












.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}